<div class="container" ng-controller="indexCtrl">
  <h1>Languages</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Language list</div>
        <div class="panel-body">
          <ul class="list-group" ng-controller="listCtrl">
            <li class="list-group-item" ng-repeat="language in languages" ng-controller="itemCtrl">
              <div ng-if="!isEdit">
                {{ language.name }}
                <button class="btn btn-danger btn-xs pull-right"  ng-click="delete()">Remove</button>
                <button class="btn btn-default btn-xs pull-right" ng-click="edit_toggle(true)">Edit</button>
              </div>
              <div ng-if="isEdit">
                <input ng-model="onedit_language.name">
                <button class="btn btn-default btn-xs pull-right" ng-click="edit_toggle(false)">Cancel</button>
                <button class="btn btn-primary btn-xs pull-right" ng-click="update()">Update</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">New Language</div>
        <div class="panel-body">
          <%= simple_form_for @language, url: '/admin/languages.json',
            html: {:'ng-controller' => 'formCtrl', :'ng-upload' => 'completed(content)', role: 'form'} do |f| %>
            <div class="form-group">
              <%= f.input_field :name, class: 'form-control', :'ng-model' => 'name', placeholder: 'Name' %>
            </div>
            <button type="submit" class="btn btn-default" ng-disabled="$isLoading">Create</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
